body{
  scroll-behavior: smooth !important;
  font-family: 'space grotesk';
  background: #0D0D0D;
}

.linear-border{
  border: 0.4px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.78%, rgba(255, 255, 255, 0) 100%)1;
}
