body {
  scroll-behavior: smooth !important;
  font-family: 'space grotesk';
  background: #000000;
}

.path-orange path {
  stroke: #EF5B24;
}

.path-grey path {
  stroke: #898989 !important;
}

.slick-next:before {
  display: none;
}

.slick-prev:before {
  display: none;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 54px !important;
}

.linear-border {
  border: 0.4px solid;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.78%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}

.slick-slide>div {
  display: flex !important;
}

.scrollbar-hidden {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;

    display: none !important;
  }

  scrollbar-width: none;

  overscroll-behavior-x: contain;
}

.slider-container {
  width: calc(98px + 278px + 88px + 128px + 88px + 138px + 208px + 98px + 278px + 88px + 128px + 88px + 138px + 208px);
  animation: scroll 25s linear infinite;
}

.bg-end-to-end {
  background: linear-gradient(182.56deg, #0D0D0D 18.67%, #EF5B24 282.9%);
}

.bg-picept-delivers{
  background: linear-gradient(180deg, rgba(13, 13, 13, 0) 12.41%, rgba(13, 13, 13, 0.7) 49.32%, rgba(13, 13, 13, 0.96) 76.56%, #0D0D0D 100%);
}

.custom-pagination .custom-bullet {
  width: 16px !important;
  height: 16px !important;
  border-radius: 9999px !important;
  border: 1px solid #535353 !important;
  background-color: rgb(236 236 236 / var(--tw-bg-opacity));
  opacity: .4;
  --tw-bg-opacity: 1;
  margin: 0 4px;
  transition: 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: transparent !important;
  width: 46px !important;
  height: 16px;
  border-color: #ECECEC !important;
  border-radius: 8px;
  position: relative;
  opacity: 1 !important;
}

.custom-pagination .swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 8px;
  width: 30px;
  border-radius: 9999px;
  background-color: #ECECEC !important;
  transition: 0.3s;
}

.svg-orange {
  fill: #EF5B24;
}

@media(min-width:768px) {
  .slider-container {
    width: calc(164px + 395px + 127px + 188px + 127px + 199px + 265px + 164px + 395px + 127px + 188px + 127px + 199px + 265px);
    animation: scroll 20s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media(min-width:1024px) {
  .border-gradient {
    position: relative;
  }

  .border-gradient::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    opacity: 30%;
    background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0), #fff 50.78%, hsla(0, 0%, 100%, 0));
  }
}