body{
  scroll-behavior: smooth !important;
  font-family: 'space grotesk';
  background: #0D0D0D;
}
.path-orange path {
  stroke: #EF5B24;
}

.path-grey path {
  stroke: #898989 !important; 
}

.slick-next:before{
  display: none;
}

.slick-prev:before{
display: none;
}

.slick-track{
  display: flex !important;
  gap: 54px !important;
}

.slick-slide>div {
  display: flex !important;
}

.scrollbar-hidden {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;

    display: none !important;
  }

  scrollbar-width: none;

  overscroll-behavior-x: contain;
}
